.footer-wrapper {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  flex: 1 1 300px;
}

.footer-logo {
  width: 180px;
  margin-bottom: 20px;
}

.footer-address {
  line-height: 1.7;
  font-size: 20px;
  color: #ccc;
  font-weight: 700;
}

.footer-links {
  display: flex;
  gap: 50px;
  color: inherit;
  text-decoration: none;
}
.footer-links a:visited {
  color: inherit; /* Prevents purple */
  text-decoration: none;
}

.footer-links h4 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
  color: #bbb;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;

}

.footer-links ul li:hover {
  color: cyan;
}

.footer-hotline {
  font-size: 18px;
  font-weight: bold;
  color: cyan;
  margin: 5px 0 15px;
}

.footer-social {
  display: flex;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-apps a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-apps a:hover {
  color: cyan;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #444;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  color: #aaa;
}

.footer-payments img {
  width: 50px;
  margin-left: 10px;
}
