.macvision-iptv-wrapper {
  /* background-color: #f7f4fb; */
  min-height: 60vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #f7f4fb;
}

.macvision-iptv-box {
  width: 1400px;
  height: 550px;
  /* border: 2px solid #222; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgb(146, 146, 146);
  transition: transform 0.3s ease-in-out;
}

/* .macvision-iptv-box:hover {
  transform: scale(1.02);
} */

.macvision-iptv-full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (max-width: 768px) {
  .macvision-iptv-box {
    width: 90vw;
    height: 90vw;
  }
}
